@import "EventForm.css";
@import "UserHeader.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Chewy&display=swap');


body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	font-family: Lato;
	background-image: url("./memphis-colorful.png");
	font-size: 1vw;

}

.app {
	display: flex;
	width: 100%;
	height: 100%;
} 

::-webkit-scrollbar {
	width: 10px;
  }
  
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(85, 85, 85, 0); 
}
.user-card__avatar{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.home-page-container {
	display: grid;
	width: 100%;
	height: 100%;

	grid-template-areas:

		"head head head head head"
		"nav main main main main"
		"nav main main main main"
		"foot foot foot foot foot";

	/* grid-template-rows: 10% 40% 40% 10%; */
	grid-template-rows: 15% 42.5% 42.5%;

	grid-template-columns: 20% 20% 20% 20% 20%;
}

.home-page__header {
	/* position: relative; */
	grid-area: head;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	width:100%;
	height: 100%;
	background-color: whitesmoke;
	box-shadow: 4px 4px 10px darkgray;
	font-family: Lato;
	transition-duration: 1s;
}

.home-page {
	width: 100%;
	height: 100%;
}

.nav-bar {
	display: none;
	flex-direction:column;
	flex-flow: column wrap;
	grid-area: nav;
	margin-top: 10%;
	height: 80%;
	width:100%;
	background-color: whitesmoke;
	box-shadow: 4px 4px 10px darkgray;
	/* overflow: scroll; */
}
.nav-bar.show {
	display: flex;
}

.log-in-container {
	
	user-select: none;
	position: absolute;
	left: 0;
	right: 0;
	margin: 5% auto;
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.log-in-user-card__name {
	text-align: center;
	background-color: #330099;
	width: 100%;
	color: white;
	font-size: 1rem;
}
.log-in-user-card {
	cursor: pointer;
	display: flex;
	flex-flow: column;
	align-items: center;
	/* background-color: #33009956; */
	width: 7rem;
	height: 9rem;
	color: white;
	border-bottom: 2px solid #33009900;
	transition-duration: .1s;
}
.log-in-user-card:hover {
	border-bottom: 2px solid #330099;
	transition-duration: .3s;
	
}
.log-in-user-card__avatar {
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 100%;
}

.events__hosting {
    display: flex;
	flex-direction: column;
	width: 100%;

}

.party-card {
    /* Use Grid instead of Flex */
    display: flex;
    justify-content: space-evenly;
	width: 100%;
	height: 4rem;
	border: 2px black solid;
	padding: 1rem;
}

.main-container {
	width: 97%;
	height: 87%;
	display: flex;
	grid-area: main;
	justify-content: center;
	align-content: center;	
	margin: auto;
}
.button-container {
	position: absolute;
	right: 45%;
	top: 50%;
}
.submit-button {
	color: #ffffff;
	background-color: #6699ff;
	padding: 0 2rem;
	border-radius: 10px;
	z-index: 3;
}
.main-container-event {
	width: 100%;
	height: 100%;
	display: grid;
    grid-template-columns: 10% 30% 20% 20% 20% ;
    grid-template-rows: 50% 50%;
	grid-template-areas: "host my-event 		assignments assignments assignments" 
						"attendees attendees 	assignments assignments assignments";
    text-align: center;
    font-family: Lato, 'Sans Serif';
}

.event-item-card {
	height: 10%;
	width: 100%;
	border-bottom: 2px solid black;
	background-color: white;
	color: #330099;
	font-size: 1rem;
	padding: .5rem;
}
.event-item-card > button {
	background-color: whitesmoke;
	cursor: pointer;
	border-radius: 10px;
}

.event-item-name {
	color: white;
	background-color: #6699ff;
	border-radius: 10px;
	font-size: 1.1rem;
	margin: .5rem 0;
}
.event-item-form {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: center;
	width: 100%;
	margin: 1rem auto;
}
.event-item-input {
	width: 50%;
	border-radius: 10px;
	font-size: 100%;
}
.event-item-input:focus, .event-item-category-dropdown:focus{
	background-color: #6699ff50;
	outline: none;
}
.event-item-category-dropdown {
	border-radius: 10px;
	font-family: Lato, sans-serif;
}
.event-item-button {
	cursor: pointer;
	border: none;
	border-radius: 8px;
	background-color: #6699ff;
	color: white;
	font-family: Lato, sans-serif;
}
.event-item-button:hover {
	background-color: #330099;
}
.event-item-button:focus {
	outline: none;
}
.my-event {
	grid-area: my-event;
	justify-self: center;
	align-self: center;
	width: 90%;
	height: 95%;
	box-shadow: 4px 4px 10px darkgray;
	background-color: whitesmoke;
}
.my-event::before {
	content: "Event Details";
	width: 100%;
	color: white;
	background-color: #330099;

}

.my-event,.host,.attendees,.assignments{
	display:flex;
	flex-direction:column;
	align-items:center ;
	margin: auto;
}

.my-event__event-details, .host__host-details{

	
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-content: center;
	font-size: 1.2em;
}
.my-event__title {
	font-size: 2rem;
}
.host::before{
	content: "Hosted By";
	background-color: #330099;
	color: white;
	width: 100%;
}

.host {
	list-style: none;
	grid-area: host;
	justify-self: center;
	align-self: center;
	width: 98%;
	height: 95%;
	box-shadow: 4px 4px 10px darkgray;
	/* padding: 1px; */

	background-color: whitesmoke;
}

.attendees {
	grid-area: attendees;
	align-self: center;
	width: 100%;
	height: 100%;
	box-shadow: 4px 4px 10px darkgray;
	display: flex;
	background-color: whitesmoke;
	
}


.assignments {
	grid-area: assignments;
	align-self: center;
	width: 90%;
	height: 90%;
	box-shadow: 4px 4px 10px darkgray;
	margin: auto;
	background-color: whitesmoke; 
}
.assignments::before{
	content: "Items Needed";
	background-color: #330099;
	color: white;
	width: 100%;
}

.footer {
	grid-area: foot;
	border: 1px solid black;
	/* padding: 1px; */

	 background-color: #8cffa0; 
}

.logo{
	height: 100%;
	width: auto;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	
}

.log-out-button  {
	display: flex;
}
.new-event {
	display: none;
}
.new-event, .log-out-button{
	position: relative;
	cursor: pointer;
	height: 80%;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	padding: .2rem;
	color: #ffffff;
	background-color: #6699ff;
	padding: 0 2rem;
	border-radius: 10px;
	z-index: 3;
	transition-duration: .5s;
}

.new-event.show {
	display: flex;
}

.new-event.show:hover, .log-out-button:hover {
	background-color: rgba(255, 255, 255, 0);
	transition-duration: .5s;
	/* font-size: 120%; */
	transform: perspective(10px) scale(1.4);
	color: #330099;
}

.notification{
	grid-area: note;
	height: 100%;
	width: 100%;
	/* display:flex;
	justify-content: center; */
	/* background-color: #8cffa0; */
}


.invitation-card, .hosting-card, .attending-card{
	cursor: pointer;
	width: 85%;
	height: 1.8rem;
	text-align:center;
	padding: 0;
	box-sizing:border-box;
	box-shadow: inset -5px -5px 5px #888;
	margin: 5px auto;
	border: 2px solid #666;
	border-radius: 10px;
	transition-duration: .2s;
	font-size: 100%;
}
.attending-card:hover, .hosting-card:hover {
	color: white;
	background-color: #888;
	box-shadow: none;
	transition-duration: .4s;
}
.attending-card-container::before, .hosting-card-container::before{
	text-align: center;
	position: relative;
	content: attr(id);
	color: white;
	background-color: #330099;
	font-weight: bold;
	font-size: 1.2rem;
	width: 100%;
	vertical-align: 50%;
}
.attending-card-container, .hosting-card-container{
	display: flex;
	flex-flow: column;
	/* justify-content: center; */
	align-content: center;
	overflow-y: scroll;
	scroll-snap-type: block;
	overflow-x: hidden;
	/* height: 33%; */
	height: 15rem;
	
}

.host-card{
	background-image: url("./star.jpeg");
	background-size:100% 100%;
    background-repeat: no-repeat;
	background-position: center;
}

.host__image{
	width: 80%;
	height: auto;
	border-radius: 15%;
}


.attendee__list-item{
	display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    width: 40%;
    margin: .1rem;
}
.attendees__list-item-image{
	height: 80px;
	width: 80px;
    border-radius: 100%;
}
.attendees__list-item-name{
	position: static;
	text-align: center;
	font-size: 1rem;
	color: black;
	left: 0;
	right: 0;
}
.attendees__list{
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: scroll;
	overflow-x: hidden;
}
.attendees::before {
	background-color: #330099;
	color: white;
	width: 100%;
	position: relative;
	top: 0;
	content: "Attendees";
}
.items__items-details {
	width: 90%;
}
table {
	border-collapse: collapse;
}